.header {
    font-weight: 400;
    display: flex;
    padding: 92px 24px 96px 24px;
    align-items: center;
    
}

.header__menu-list {
    display: flex;
    padding-left: 23px;
    line-height: 1%;
    font-size: 18px;
    padding-top: 15px;
}

.header__menu-items {
    padding-right: 36px;
    list-style: circle;
}

.header__logo {
    display: flex;
    width: 148px;
    height: 105px;
    margin-top: 9px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    text-align: left;
    margin-left: 194px;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under
}

.jambotron {
    width: 1100px;
    height: 2550px;
}

.cover {
    background-image: url(/images/cover.jpg);
    margin-top: 188px;
    width: 1100px;
    min-height: 757px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 1;
    padding: 165px 10px 51px 50px;
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.cover__title-ono {
    color: white;
}

.letter-spacing-extended-o {
    letter-spacing: 0.06em;
}

.letter-spacing-extended-n {
    letter-spacing: 0.37em;
}

.cover__title-tebe {
    color: white;
}


.aligned-text_center-te {
    margin-top: 9px;
    padding-right: 59px;
    text-align: center;
    display: flex;
    padding-left: 288px;
    letter-spacing: 28px;

}

.aligned-text_center-be {
    margin-top: 0px;
    padding-right: 70px;
    text-align: center;
    display: flex;
    padding-left: 4px;
    letter-spacing: 60px;
}

.aligned-text_right-n {
    padding-right: 11px;
    text-align: right;
    padding-left: 584px;
    letter-spacing: 28px;

}

.letter-spacing-a {
    letter-spacing: 2px;

}

.letter-spacing-d {
    padding-right: 8px;
    letter-spacing: 28px;

    
}

.aligned-text_right-o {
    padding-right: 8px;
    text-align: right;
    letter-spacing: 28px;

}

.cover__description {
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 14px;
}

.cover__description-text {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 18.6px;
    margin-left: 78px;
    margin-top: 76px;
    line-height: 120%;

}

.button {
    width: 256px;
    height: 51px;
    border-width: 1px;
    border-color: white;
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    margin-top: 62px;
    margin-right: 50px;
    background-color: rgba(28,28,28,0);

}

.lots {
    padding: 179px 24px 0 24px;
    position: relative;
}

.lots__title {
    color: black;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0 0 27px 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: 563px;
    column-gap: 25px;
}

.lots__card-list-item {
    text-decoration: none;
    list-style-type: none;
}

.card__link {
    text-decoration: none;
    height: 100%;
    display: block;
    list-style-type: none;
}

.card-lot-film {
    height: 100%;
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__title {
    padding: 51px 40px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: white;
}

.card-lot-film >p {
    padding: 240px 40px 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: white;
}

.card-lot-book {
    height: 100%;
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-lot-book >p {
    padding: 0 40px 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: white;
}

.card-lot-yeelow {
    height: 100%;
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-lot-yeelow >p {
    padding: 95px 40px 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: white;
}

.lots__look-more-link {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0 0 40px;
}


.about {
    padding: 181px 72px 0 25px;
    display: grid;
    gap: 122px;
    grid-template-columns: 236px 693px;
}

.about__logo {
    display: flex;
    margin-left: 45px;
    padding-top: 33px;
    padding-left: 50px;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 150px;
    height: 180px;
}

.about__column {
    display: flex;
    flex-direction: column;
    padding-top: 101px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-top: 101px;
}

.footer_content-section {
    display: flex;
    padding-left: 26.52px;
    font-size: 18px;
    margin-bottom: 89px;
  }
  
.footer__social-icon {
    width: auto;
    height: 48px;
  }


.footer__menu {
    text-align: center;
    margin-left: 224px;
  }

.footer__menu-list {
    text-align: center;
    list-style: none;
  }
  
.footer__menu-link {
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
  }
  
.footer__menu-link_active {
    text-decoration: none;
  }
  
.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    margin-left: 185px;
  } 

.address {
    display: flex;
    text-align: left;
    font-size: 18px;
    margin-left: 24px;
    line-height: 1.35;
    flex-direction: column;
}